* {
    box-sizing: border-box;
}

body {
    /*margin: auto;*/
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*Zentriertes Design mit Grenzen bei 700px*/
.container {
    display: grid;
    height: 900px;
    grid-template: 100px 300px 100px 100px / repeat(7, 100px);
    background: linear-gradient(45deg, orange, rgb(245, 223, 182));
    margin: auto;
    width: 700px;
    border-radius: 20px;
}

h1 {
    /*Anfang-Zeile / Anfang-Spalte / Ende-Zeile / Ende-Spalte*/
    grid-area: 1 / 3 / 1 / -1;
}

.logo-info {
    grid-area: 2 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.info-block {
    margin-left: 12em;
}

.logo-block img {
    width: 200px;
    margin-right: 10em;
}

.info-block .position,
.info-block .zeit {
    font-size: 27px;
}

.info-block .temperature {
    font-size: 40px;
}

.block-hour-forecast {
    display: grid;
    grid-template: 100px / repeat(7, 100px);
}

.block-hour-forecast {
    grid-area: 3 / 1 / 3 / -1;
    border-bottom: solid 1px white;

}

.block-day-forecast {
    margin-top: 32em;
}

.block-day {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block-day p {
    margin-left: 20em;
}

.block-hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}